footer{
  background: rgba(0,15,73,.5);
  padding-left: rem(120);
  padding-right: rem(120);
  font-size: 0;
  p{
    font-size: rem(36);
    color:#f7e9c4;
    margin-top: rem(10);
  }
}
.bg-home{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;  
}
.home{
  background: url(../images/bg.jpg) top center no-repeat;
  background-size: 100% auto;
}

.swiper-container{
  // position: absolute;
  padding-top: rem(18);
  // padding-left: rem(120);
  // padding-right: rem(120);
  width: 100%;
  height: 100%;
  left:0;
  top:0;
}
.swiper-wrapper{
  // overflow: hidden;
}
.swiper-button-next{
  @include icon('../images/next.png',43,96);
  margin-top:rem(-43);
}
.swiper-button-prev{
  @include icon('../images/prev.png',43,96);
  margin-top:rem(-43);
}
// 标题
.nav-title{
  &.no-border{
    border:none;
  }
  padding-top: rem(80);
  margin-bottom: rem(34);
  line-height: 1em;
  font-size: rem(60);
  color:#612e2a;
  padding-bottom: rem(10);
  border-bottom: 1px solid #612e2a;
  .back{
    float: right;
    background: #f4eed9;
    border:1px solid #794b42;
    text-align: center;
    width: rem(162);
    height: rem(62);
    line-height: rem(60);
    font-size: rem(36);
    color:#612e2a;
    border-radius: rem(20);
  }
}
.main{
  width: rem(1242-60);
  margin-left: auto;
  margin-right: auto;
}
.imgbox{
  width: 100%;
  position: relative;
  img{
    width:100%;
  }
  .dsc{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: rem(88);
    line-height: rem(88);
    border-top: 1px solid #f7e9c4;
    padding-left: rem(24);
    font-size: rem(46);
    color:#f7e9c4;
    background: rgba(97,46,42,0.7);
  }
}
.info-table{
  width: 95%;
  margin-left: 5%;
  margin-top: rem(20);
  line-height: 1.8em;
  font-size: rem(36);
  b{
    color:#612e2a;
    font-weight: bold;
  }
}

.menu{
  width: rem(1070);
  position: absolute;
  left:50%;
  margin-left: rem(-535);
  top: 800/1960*100%;
  .row{
    margin-bottom: rem(20);
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .xmjs,.xsxx{
    width: rem(380);
    display: block;
    img{
      width:100%;
    }
  }
  .img{
    width: rem(670);
    position: relative;
    img{
      width:100%;
    }
    .dsc{
      background: rgba(97,46,42,0.7);
      position: absolute;
      left:0;
      width: 100%;
      bottom:0;
      height: rem(86);
      font-size: rem(48);
      color:#fce4c2;
      padding-left: rem(36);
      height: rem(86);
      line-height: rem(86);
    }
  }
}
.hrs{
  width: 100%;
  height: 1px;
  background: #af7744;
  margin-top: rem(530);
  position: relative;
  &:after{
    content:"";
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    width: rem(36);
    height:rem(36);
    border-radius: 100%;
    font-size: 0;
    background: #af7744;
    @include transform(translate3d(-50%,-50%,0));
  }
}
.userlist{
  margin-top: rem(70);
  position: relative;
  input,select{
    width: rem(630);
    height: rem(96);
    padding-left: 1em;
    background: #fff;
    border-radius: rem(20);
    border:none;
    outline:none;
    position: absolute;
    left:rem(366);
    font-size: rem(48);
    color:#333;
  }
  .username{top:rem(200)}
  .usertel{top:rem(350)}
  .usercount{top:rem(490)}
  .userselect{top:rem(630)}
  button{
    width: rem(513);
    height: rem(117);
    border:none;
    outline:none;
    background: #fce4c2;
    border-radius: rem(20);
    font-size: rem(60);
    color:#612e2a;
    position: absolute;
    left:rem(298);
    top:rem(800);
  }
}
.dialog{
  text-align: center;
  img{
    margin-top: 5%;
    height: 90%;
  }
}