@charset "utf-8";
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);font-size:12px;}
html{font-size:12px;}
body,h1,h2,h3,h4,p,dl,dd,ul,ol,form,input,textarea,th,td,select{
margin: 0;padding: 0;font-weight: normal;}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: middle;}
table{border-collapse: collapse;}
input,textarea{outline: none;}
textarea{resize:none;overflow: auto;}
input[type="button"], input[type="submit"], 
input[type="reset"]{-webkit-appearance: none;}
textarea {  -webkit-appearance: none;}  
img,fieldset{ border:0 none; display:block;}
::-webkit-input-placeholder {color:#999;}
:-moz-placeholder {color:#999;}
::-moz-placeholder { color:#999;}
:-ms-input-placeholder {color:#999;}
::-webkit-scrollbar{ width: 1px; height:1px;background-color: #fff;}
input:focus, textarea:focus {outline: none;}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none;}
::-webkit-scrollbar{ width: 1px; height:1px;background-color: #fff;}
/*----------------------------*/


 .box{
  width:100%;
  font-family: "Arial";
  position: relative;
  background:#fff;
  background-size: 100% 100%;
  overflow: hidden;
 }

 .top{
 	height: 42px;
 	width: 100%;
 	background: #28b4f0;
 	position: relative;
 }
 .right_b{
 	position: absolute;
 	top:0px;
 	line-height: 42px;
 	left:3%;
 	font-size: 22px;
 	color: #fffffd;
 }
 .top h2{
 	text-align: center;
 	line-height: 42px;
 	font-size: 16px;
 	color: #fff;
 }

 .center{
 	width: 100%;
 	overflow-y: auto;
 	position: relative;
 	background: #f6f6f6;
 }
 .center ol{
 	background: #fff;
 }
 .center ol li{
 	height: 42px;
 	width: 100%;
 	border-bottom: 1px solid #dddddd;
 	position: relative;
 	 	line-height: 42px;
 }
 .li_one h2{
 	line-height: 42px;
 	width: 30%;
 	float: left;
 }
 .li_one h2 span{
 	float: right;
 	font-size: 14px;
 	color: #050505;
 }
 .li_one span{
 	color: #a1a1a1;
 	font-size: 14px;
 }
  .right_s{
 	position: absolute;
 	top:0px;
 	right:0px;
 	font-size: 22px;
 	color: #28b5ed;
 }

.li_bne{
	width: 100%;
	margin: 0px auto;
}
.li_bne h2{
	line-height: 42px;
 	width: 30%;
 	float: left;

}
.li_bne h2 span{
	float: right;
 	font-size: 14px;
 	color: #050505;
}
.li_bne span{
	color: #050505;
	margin: 0px 3%;
	font-size: 14px;
}
.li_bne input{
	width: 16%;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 1px;
	text-align: center;
	color: #050505;
}

.ol_two{
	margin-top: 10px;
	border-top: 1px solid #dddddd;
}
.li_one input{
	height: 35px;
	border: none;
	font-size: 14px;
	color: #a1a1a1;
}
.center .txt_o{
	height: 84px;

}
.li_bne textarea{
	margin-top: 14px;
	height: 60px;
	width:65%;
	float: right;
	color: #a1a1a1;
	border: none;
	font-size: 14px;
	margin-right: 5%;
}

.li_on p{
 	color: #a1a1a1;
 	font-size: 14px;
 	background: red;
 	width: 20%;
 	float: left;
 }
 .right_m{
 	-webkit-transform:rotate(180deg);
 	margin-right:2%;
 }
/*低部*/
.btn{
	width: 100%;
	height: 48px;
	background: #f6f6f6;
	border-top:1px solid #dddddd;
}

.btn button{
	height: 38px;
	width: 65%;
	background: #28b4f1;
	border: none;
	border-radius: 3px;
	margin: 0px auto;
	color: #fff;
	margin:5px 17.5%;
	font-size: 15px;
}
.box_one{
	position: absolute;
	z-index: 10;
	width: 100%;
}


/**/

/*-------------2----------------*/
.box_two{
	position: absolute;
	width: 100%;
	-webkit-transform:translateX(100%);
	z-index:55;
}


 .host{
 	height: 42px;
 	width: 100%;
 	background: #28b4f0;
 	position: relative;
 }
 .host span{
 	position: absolute;
 	font-size: 14px;
 	line-height: 42px;
 	color: #fff;
 	right:3%;

 }
 .right_b{
 	position: absolute;
 	top:0px;
 	line-height: 42px;
 	left:3%;
 	font-size: 22px;
 	color: #fffffd;
 }
 .host h2{
 	text-align: center;
 	line-height: 42px;
 	font-size: 16px;
 	color: #fff;
 }

 .center_mou{
 	width: 100%;
 	overflow-y: auto;
 	position: relative;
 	background: #f6f6f6;
 }
 .bost{
 	background:#fff;
 	width: 100%;
 }
 .c_top{
 	height: 42px;
 	border-bottom: 1px solid #dddddd;
 	line-height: 42px;
 	position: relative;
 }
  .c_top h2{
  	font-size: 14px;
  	color: #050505;
  	margin-left:4%;
  }
 .right_x{
 	position: absolute;
 	top:0px;
 	line-height: 42px;
 	right:3%;
 	font-size: 22px;
 	color: #28b5ed;
 	-webkit-transform:rotate(90deg);
 	-webkit-transition:all 0.3s linear;
 }

.right_sj{
	-webkit-transform:rotate(-90deg);
}
 .bost ul{
 	display: none;
 }
 .bost ul li{

 	line-height: 42px;
 	height: 42px;
 	border-bottom: 1px solid #dddddd;
 }
  .bost ul li p{
  	margin-left: 6%;
  	font-size: 14px;
  	color: #2a2a2a;
  }

  .quan{
  	float: right;
  	border: 1px solid #c5c5c5;
  	width: 18px;
  	height: 18px;
  	border-radius: 50%;
  	display: block;
  	margin-top: 12px;
  	margin-right: 3%;
  }

  .quanm{
	background: url("../images/yuan.png") no-repeat;
	background-size: 100% 100%;
  }