/*
* made in fanfan
*/
body {
  background-color: #fccc38; }

.main {
  color: #9e5500;
  font-size: 0.4rem;
  background: #2d3e50 url("../images/bg.png") top center no-repeat;
  background-size: contain; }

.share {
  position: fixed;
  right: 4%;
  top: 2%;
  z-index: 999;
  background: url("../images/share@2x.png") center no-repeat;
  background-size: contain;
  width: 4.61333rem;
  height: 3.41333rem;
  display: inline-block;
  display: none; }

.iconCalendar {
  background: url("../images/calendar@2x.png") center no-repeat;
  background-size: contain;
  width: 0.68rem;
  height: 0.66667rem;
  display: inline-block; }

.iconCanyu {
  background: url("../images/canyu@2x.png") center no-repeat;
  background-size: contain;
  width: 3.28rem;
  height: 1.06667rem;
  display: inline-block; }

.iconEdit {
  background: url("../images/edit@2x.png") center no-repeat;
  background-size: contain;
  width: 3.28rem;
  height: 1.06667rem;
  display: inline-block; }

.iconSign {
  background: url("../images/sign@2x.png") center no-repeat;
  background-size: contain;
  width: 3.28rem;
  height: 1.06667rem;
  display: inline-block; }

.iconSign-true {
  background: url("../images/sign-true@2x.png") center no-repeat;
  background-size: contain;
  width: 3.28rem;
  height: 1.06667rem;
  display: inline-block; }

.btnGroup {
  margin-top: 0.42667rem; }

.head {
  height: 0.66667rem;
  line-height: 0.66667rem;
  position: relative;
  width: 83.33333%;
  color: #692a01;
  margin: 0 auto; }
  .head i {
    float: left;
    margin-right: 5px; }
  .head .time {
    float: left;
    color: #692a01; }
  .head .count {
    position: absolute;
    right: 0;
    top: 0;
    height: 0.66667rem;
    line-height: 0.66667rem; }
    .head .count .number {
      font-size: 0.58667rem;
      color: #e03a2d; }

.content {
  width: 83.33333%;
  margin: 0 auto; }
  .content .table {
    background: #fffec0;
    border: 2px dashed #e4b214;
    border-radius: 0.24rem;
    box-shadow: 0 0 0 0.18667rem #fffec0;
    margin-top: 0.56rem;
    margin-bottom: 0.56rem; }
  .content table {
    width: 100%; }
    .content table th {
      height: 1.04rem;
      vertical-align: middle;
      font-weight: normal; }
    .content table tr td:last-child {
      padding-right: 0.21333rem; }
    .content table tr td:first-child {
      padding-left: 0.21333rem; }
    .content table tr:first-child td {
      padding-top: 0.26667rem; }
    .content table tr:last-child td {
      padding-bottom: 0.26667rem; }
    .content table td {
      padding: 0.10667rem;
      height: 1.06667rem;
      position: relative;
      text-align: center; }
      .content table td span {
        width: 0.8rem;
        height: 0.88rem;
        line-height: 0.88rem;
        display: inline-block;
        border-radius: 0.10667rem;
        background: #fccc38;
        text-align: center; }
      .content table td.active span {
        background: #e03a2d;
        color: #fff; }

.tip {
  width: 83.33333%;
  margin: 0 auto; }
  .tip h3 {
    font-weight: normal;
    font-size: 0.4rem;
    margin-top: 0.53333rem;
    color: #ffeb58; }
  .tip p {
    text-indent: 2em;
    font-size: 0.4rem;
    line-height: 1.5em;
    color: #fff; }
    .tip p i {
      font-style: italic;
      color: #ffeb58; }

.prize {
  position: fixed;
  z-index: 999;
  top: 50%;
  margin-top: -4.17333rem;
  left: 0.45333rem;
  background: url("../images/dialog@2x.png") center no-repeat;
  background-size: contain;
  width: 8.89333rem;
  height: 8.34667rem;
  display: inline-block;
  display: none; }
  .prize .close {
    position: absolute;
    right: 0;
    top: -0.13333rem;
    width: 0.97333rem;
    height: 0.97333rem; }
  .prize .top {
    position: absolute;
    bottom: 4.66667rem;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 0.48rem;
    color: #fe573d; }
    .prize .top i {
      font-size: 0.56rem; }

.eraserMain {
  text-align: center;
  font-size: 0.48rem;
  width: 5.33333rem;
  height: 1.49333rem;
  line-height: 0.96rem;
  position: absolute;
  bottom: 2.70667rem;
  left: 1.93333rem; }

#redux {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%; }

input::-webkit-input-placeholder {
  color: #666; }

.userInfo {
  position: fixed;
  z-index: 999;
  top: 50%;
  margin-top: -5.53333rem;
  left: 50%;
  margin-left: -4.29333rem;
  background: url("../images/userinfo@2x.png") center no-repeat;
  background-size: contain;
  width: 8.58667rem;
  height: 11.06667rem;
  display: inline-block;
  display: none; }
  .userInfo .username, .userInfo .usertel {
    position: absolute;
    top: 3.76rem;
    left: 1.2rem;
    outline: none;
    border: 1px solid #9e5500;
    width: 6.26667rem;
    height: 1.44rem;
    border-radius: 0.66667rem;
    text-align: center;
    color: #9e5500;
    font-size: 0.53333rem;
    background: transparent; }
  .userInfo .usertel {
    top: 5.86667rem; }
  .userInfo .submit {
    background: url("../images/tijiao.png") center no-repeat;
    background-size: contain;
    width: 4.26667rem;
    height: 1.38667rem;
    display: inline-block;
    border: none;
    position: absolute;
    bottom: 0.72rem;
    border-radius: 0.66667rem;
    left: 50%;
    margin-left: -2.13333rem; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #7c7c7c; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #7c7c7c; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #7c7c7c; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #7c7c7c; }

.demo {
  background: url("../images/4.png") center no-repeat;
  background-size: contain;
  width: 1.70667rem;
  height: 1.70667rem;
  display: inline-block; }

.demo.active {
  -webkit-animation: weixin 1s linear both;
  animation: weixin 1s linear both; }

@-webkit-keyframes weixin {
  from {
    background: url("../images/1.png") center no-repeat;
    background-size: contain; }
  40% {
    background: url("../images/2.png") center no-repeat;
    background-size: contain; }
  80% {
    background: url("../images/3.png") center no-repeat;
    background-size: contain; }
  to {
    background: url("../images/4.png") center no-repeat;
    background-size: contain; } }

@keyframes weixin {
  from {
    background: url("../images/1.png") center no-repeat;
    background-size: contain; }
  40% {
    background: url("../images/2.png") center no-repeat;
    background-size: contain; }
  80% {
    background: url("../images/3.png") center no-repeat;
    background-size: contain; }
  to {
    background: url("../images/4.png") center no-repeat;
    background-size: contain; } }
