/*
* made in fanfan
*/

//变量
$primaryColor: #000;
$bgColor:#f7e879;
$baseFontSize:75;
// pixels to rems 
@function rem($px) {
  @return $px / $baseFontSize * 1rem;
}
// mixin
@mixin icon ($url,$width,$height) {
    background: url($url) center no-repeat;
    background-size: contain;
    width: rem($width);
    height: rem($height);
    display: inline-block;
}

@mixin animation($animation...){
	-webkit-animation:$animation;
	animation:$animation;
}
@mixin keyframes ($name) {
    @keyframes #{$name}
		{
			@content;
		}
		@-webkit-keyframes #{$name} /* Safari 和 Chrome */
		{
			@content;
		}
}

.an-1{
	@include animation(an-1 4s infinite ease-in-out alternate);
}
@include keyframes('an-1'){
	from{
		// opacity: 0;
    -webkit-transform:  translateX(-50%) rotateY(30deg);
    transform:  translateX(-50%) rotateY(30deg);
	}
	to{
		// opacity: 1;
    -webkit-transform:  translateX(-50%) rotateY(-30deg);
    transform:  translateX(-50%) rotateY(-30deg);
	}
}
body{
	background-color: $bgColor;
}

.main{
	color: $primaryColor;
	font-size: rem(30);
}
.game{
	background: url('../images/bggame.jpg') center no-repeat;
	width: rem(750);
	height:rem(1206);
	background-size: contain;
	.time{
		font-size: rem(40);
		color: #fff;
		width: 100%;
		text-align:center;
		margin-top: rem(25);
		span{
			font-size:rem(62);
			color: #fff;
		}
	}
	.title{
		font-size: 0;
		color: #fff;
		position: absolute;
		top:rem(200);
		left:50%;
		text-align:center;
		width: rem(467);
		height: rem(70);
		background: url(../images/t1.png) left center no-repeat;
		background-size: contain;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
		span{
			display: block;
			position: absolute;
			width: 0%;
			height: 100%;
			left: 0;
			top:0;
			background: url(../images/t2.png) left center no-repeat;
			background-size: rem(467) rem(70);

			// font-size: rem(60);
			// margin:0 rem(6);
			// display: inline-block;
			// position: relative;
			// &.active{
			// 	color: #feff01;
			// }
			// &.on::after{
			// 	content:'';
			// 	@include icon('../images/sanjiao.png',34,18);
			// 	position: absolute;
			// 	bottom:rem(-18);
			// 	left:50%;
			// 	margin-left: rem(-17);
			// }
		}
	}
	.content{
		width: rem(554);
		position: absolute;
		top:rem(350);
		left:rem(98);
		font-size: 0;
		span{
			display: inline-block;
			width: rem(84);
			height: rem(84);
			line-height: rem(84);
			border-radius: rem(15);
			color:#fff;
			text-align:center;
			font-size: rem(44);
			background: #d59e54;
			margin-right: rem(10);
			margin-bottom: rem(10);
			&:nth-child(6n){
				margin-right: 0;
			}
			&.c1{color: #452d12;}
			&.c2{color: #d11a02;}
			&.c3{color: #feff01;}
			&.c4{color: #568dd0;}
			&.c5{color: #9accff;}
			&.c6{color: #fff;}
			&.t1{
				-webkit-transform:rotate3d(0,0,1,0);
				transform:rotate3d(0,0,1,0);
			}
			&.t2{
				-webkit-transform:rotate3d(0,0,1,90deg);
				transform:rotate3d(0,0,1,90deg);
			}
			&.t3{
				-webkit-transform:rotate3d(0,0,1,180deg);
				transform:rotate3d(0,0,1,180deg);
			}
			&.t4{
				-webkit-transform:rotate3d(0,0,1,270deg);
				transform:rotate3d(0,0,1,270deg);
			}
		}
	}
}

.none{
	display: none;
}
//弹框
.gameStart{
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index:999;
	background: url(../images/loading.png) center no-repeat;
	background-size:680/750*100%;
}
.dialog{
	-webkit-transition:all 500ms;
	transition:all 500ms;
	&.show{
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
		opacity: 1;
	}
	width: rem(600);
	height: rem(920);
	background: url(../images/dialogbg.jpg) center no-repeat;
	position: absolute;
	z-index:999;
	left:50%;
	top:50%;
	-webkit-transform: translate3d(-200%,-200%,0);
	transform: translate3d(-200%,-200%,0);
	opacity: 0;
	background-size: contain;
	.title{
		height: rem(45);
		position: absolute;
		top:rem(112);
		left: 50%;
		display: block;
		-webkit-transform: translateX(-50%);
    transform: translateX(-50%);
	}
	.tips{
		position: absolute;
		left: 50%;
		top:rem(222);
		-webkit-transform: translateX(-50%);
    transform: translateX(-50%);
		color: #f4d827;
		font-size: rem(30);
		span{
			font-size: rem(32);
		}
		&.off{
			color: #66221b;
		}
	}
	.hb{
		width: rem(447);
		height: rem(352);
		background: url(../images/hb.png) center no-repeat;
		background-size: contain;
		position: absolute;
		left: 50%;
		top:rem(300);
		-webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    &.off{
    	background: url(../images/hb-2.png) center no-repeat;
			background-size: contain;
    }
    p{
    	text-align: center;
    	font-size: rem(72);
    	color: #f72c2f;
    	font-weight: bold;
    	margin-top: rem(50);
    }
	}
	.tips-bottom{
		position: absolute;
		left: 50%;
		bottom:rem(190);
		width: rem(265);
		-webkit-transform: translateX(-50%);
    transform: translateX(-50%);
	}
	.btn{
		width: rem(255);
		height: rem(60);
		display: block;
		position: absolute;
		bottom:rem(39);
		left:50%;
		-webkit-transform: translateX(-50%);
    transform: translateX(-50%);
	}
	input::-webkit-input-placeholder{
		color: #666;
	}
	&.rule{
		background: url(../images/rule.jpg) center no-repeat;
	}
}

.home{
	// height: rem(1206);
	position: absolute;
	left:50%;
	width: 10rem;
	margin-left:-5rem;
	top:0;
	height: 100%;
	background: url('../images/home.jpg')  center no-repeat;
	background-size: cover;
	.title{
		width: rem(615);
		height: rem(392);
		position: absolute;
		top:rem(270);
		left: 50%;
		-webkit-transform:translateX(-50%);
		transform:translateX(-50%);
	}
	.btnStart{
		position: absolute;
		width: rem(360);
		left:50%;
		margin-left: rem(-180);
		bottom:rem(126);
	}
	.btn-rule{
		position: absolute;
		width: rem(192);
		left:50%;
		margin-left: rem(-96);
		bottom:rem(40);
	}
}
.rule{
	.content{
		font-size: rem(34);
		color: #000;
		padding:0 rem(40);
		height: rem(530);
		overflow: scroll;
		line-height: rem(52);
	}
}

.dialog .btn-submit{
  background: url('../images/btn-submit.png') center no-repeat;
  background-size: contain;
  border:none;
  outline: none;
}
