/*
* made in fanfan
*/

//变量
$primaryColor: #333;
$bgColor:#fff;
$baseFontSize:75;
// pixels to rems 
@function rem($px) {
  @return $px / $baseFontSize * 1rem;
}
// mixin
@mixin icon ($url,$width,$height) {
    background: url($url) center no-repeat;
    background-size: contain;
    width: rem($width);
    height: rem($height);
    display: inline-block;
}
@mixin animation($animation...){
  -webkit-animation:$animation;
  animation:$animation;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}
@mixin keyframes ($name) {
    @keyframes #{$name}
    {
      @content;
    }
    @-webkit-keyframes #{$name} /* Safari 和 Chrome */
    {
      @content;
    }
}
body{
  background-color: $bgColor;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
img{max-width: 100%;}
i{font-style: normal;}
a {
  color: #0894ec;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
  color: #0a8ddf;
}
/*常用样式*/
.fl{float:left;}
.fr{float:right;}

/*遮罩*/
#shade{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.8);
  z-index: 900;
  display: none;
}

.page-group{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0;
}
.page{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling:touch;
}
.row{
  &:after{
    content:" ";
    display: block;
    clear: both;
  }
  .col-33{
    width: 33.33%;
    float: left;
  }
  .col-50{
    width: 50%;
    float: left;
  }
}