/*
* made in fanfan
*/

//变量
$primaryColor: #333;
$bgColor:#eb405b;
$baseFontSize:124.2;
// pixels to rems 
@function rem($px) {
  @return $px / $baseFontSize * 1rem;
}
// mixin
@mixin icon ($url,$width,$height) {
    background: url($url) center no-repeat;
    background-size: contain;
    width: rem($width);
    height: rem($height);
    display: inline-block;
}
@mixin transform($transform...){
  -webkit-transfrom:$transform;
  transform:$transform;
}
@mixin animation($animation...){
  -webkit-animation:$animation;
  animation:$animation;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}
@mixin keyframes ($name) {
    @keyframes #{$name}
    {
      @content;
    }
    @-webkit-keyframes #{$name} /* Safari 和 Chrome */
    {
      @content;
    }
}
body{
  background-color: $bgColor;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
img{max-width: 100%;}
i{font-style: normal;}
a {
  color: #0894ec;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
  color: #0a8ddf;
}
/*常用样式*/
.fl{float:left;}
.fr{float:right;}

/*遮罩*/
#shade{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.8);
  z-index: 9000;
  display: none;
}
.dialog{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  display: none;
}
/*
*  page  2000
*  page-left 1000
*  page-right 3000
*  
*  header 10
*  footer 10
*
*
*/

.page-group{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: rem(60);
  text-align: center;
  &.open-left{
    .page{
      -webkit-transform:translate3d(4rem,0,0);
      transform:translate3d(4rem,0,0);
    }
  }
  &.open-right{
    .page-panel-right{
      -webkit-transform:translate3d(0,0,0);
      transform:translate3d(0,0,0);
    }
  }
}
.page{
  position: absolute;
  z-index:2000;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  background: $bgColor;
}
.page-panel-left{
  position: absolute;
  z-index:1000;
  left: 0;
  top:0;
  height: 100%;
  width: 4rem;
  background: #000;
  color: #fff;
}
.page-panel-right{
  position: absolute;
  z-index:3000;
  right: 0;
  top:0;
  height: 100%;
  width: 4rem;
  background: #000;
  color: #fff;
  -webkit-transform:translate3d(100%,0,0);
  transform:translate3d(100%,0,0);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
header{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: rem(88);
  // background: rgba(0,0,0,.6);
  z-index:10;
  & ~ .content{
    top:rem(88);
  }
}
footer{
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  height: rem(88);
  // background: rgba(0,0,0,.6);
  z-index:10;
  & ~ .content{
    bottom:rem(88);
  }
}
.content{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling:touch;
  // background: rgba(0,255,0,.8);
}
.content-inner{
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-overflow-scrolling:touch;
  text-align: left
}
.scroll{
  -webkit-overflow-scrolling:touch;
}
.row{
  &:after{
    content:" ";
    display: block;
    clear: both;
  }
  .col-33{
    width: 33.33%;
    float: left;
  }
  .col-50{
    width: 50%;
    float: left;
  }
}
img.full{
  width: 100%;
}
/*
* 公共布局部分结束
**/

.list{
  width: rem(1054);
  text-align: center;
  height: rem(923);
  background: url(../images/list.png) center no-repeat;
  background-size: 100% 100%;
  margin-top: rem(736);
  margin-left: auto;
  margin-right: auto;
  padding-top: rem(70);
  input{
    width:rem(860);
    height: rem(117);
    margin-bottom: rem(30);
    text-align: center;
    font-size: rem(48);
    color:#333;
    outline:none;
    border:none;
    border-radius: 30px;
  }
}
::-webkit-input-placeholder {
  color:#ccc;
}
.btn{
  @include icon('../images/btn.png',846,148);
  margin-top: rem(50);
}
.guize{
  @include icon('../images/guize.png',333,104);
  margin-left: rem(194);
  margin-top: rem(40);
}
.tip{
 width: rem(1042);
 margin-left: auto;
 margin-right: auto;
 margin-top: rem(20);
 color:#ffe558;
 font-size: rem(36);
 li{
  margin-bottom: rem(10);
  &:after{
    content:" ";
    display: block;
    clear: both;
  }
 }
 .left{
  width: rem(50);
  height: rem(50);
  font-style: italic;
  line-height: rem(50);
  float: left;
  margin-right: rem(-50);
  font-size: rem(38);
  border:1px solid #ffe558;
  border-radius: rem(50);;
  text-align: center;
 } 
 .right{
  margin-left: rem(80);
  line-height: 1.4em;
 }
}

.top{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  overflow: hidden;
}
.ball{@include icon('../images/ball.png',843,610)}
.balls{@include icon('../images/balls.png',353,485)}
.c1{@include icon('../images/c1.png',105,55)}
.c2{@include icon('../images/c2.png',88,47)}
.c3{@include icon('../images/c3.png',121,45)}
.c4{@include icon('../images/c4.png',113,48)}
.plane{@include icon('../images/plane.png',142,95)}
.y1{@include icon('../images/y1.png',126,75)}
.y2{@include icon('../images/y2.png',151,101)}

.ball{
  position: absolute;left:rem(190);top:rem(27);

}
.balls{
  position: absolute;left:rem(1060);top:rem(68);
  @include animation(balls 8s linear infinite);
}
.c1{
  position: absolute;left:rem(373);top:rem(640);
  @include animation(c1 20s linear infinite 12s);
  z-index:11;
}
.c2{
  position: absolute;left:rem(560);top:rem(634);
  @include animation(c2 20s linear infinite );
  z-index:10;
}
.c3{
  // position: absolute;left:rem(786);top:rem(636);
  position: absolute;left:rem(373);top:rem(640);
  @include animation(c1 20s linear infinite 6s);
  z-index:11;
}
.c4{
  // position: absolute;left:rem(1184);top:rem(630);
  position: absolute;left:rem(373);top:rem(640);
  @include animation(c1 20s linear infinite);
  z-index:11;
}
.plane{
  position: absolute;left:rem(100);top:rem(164);
  @include animation(plane 5s linear infinite);
}
.y1{
  position: absolute;left:rem(70);top:rem(86);
  @include animation(y1 15s linear infinite);
}
.y2{
  position: absolute;left:rem(958);top:rem(0);
  @include animation(y2 20s linear infinite);
}

@include keyframes(plane){
  from{
    @include transform(translate3d(-200%,0,0))
  }
  to{
    @include transform(translate3d(800%,-200%,0))
  }
}

@include keyframes(y1){
  from{
    @include transform(translate3d(-200%,0,0))
  }
  to{
    @include transform(translate3d(800%,0,0))
  }
}

@include keyframes(y2){
  from{
    @include transform(translate3d(-200%,0,0))
  }
  to{
    @include transform(translate3d(800%,0,0))
  }
}

@include keyframes(balls){
  from{
    @include transform(translate3d(0,100%,0));
    opacity: 0;
  }
  30%{
    @include transform(translate3d(0,0,0));
    opacity: 1;
  }
  to{
    @include transform(translate3d(0,-300%,0));
    opacity: 0.6;
  }
}


@include keyframes(c1){
  from{
    @include transform(translate3d(-330%,-110%,0));
  }
  30%{
    @include transform(translate3d(0,10%,0));
  }
  60%{
    @include transform(translate3d(405%,-15%,0));
  }
  to{
    @include transform(translate3d(805%,-15%,0));
  }
}

@include keyframes(c2){
  from{
    @include transform(translate3d(700%,-60%,0));
    opacity: 1;
  }
  30%{
    @include transform(translate3d(100%,-30%,0));
    opacity: 1;
  }
  40%{
    @include transform(translate3d(0,0,0));
    opacity: 1;
  }
  to{
    @include transform(translate3d(-600%,-126%,0));
    opacity: 0;
  }
}
