body{
	background: url(../images/demo/bg.png) center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}
.cn-wrapper-logo{
	width: 8rem;
	height: 8rem;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-left: -4rem;
	margin-top: -4rem;
	/*background-color: hsla(0,100%,50%,.3);*/
	border-radius: 50%;
	overflow: hidden;
	background: url(../images/demo/logo.png) center no-repeat;
	background-size: contain;
}
.cn-wrapper{
	width: 8rem;
	height: 8rem;
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -4rem;
	margin-top: -4rem;
	/*background-color: hsla(0,100%,50%,.3);*/
	border-radius: 50%;
	overflow: hidden;
}
.cn-wrapper li{
	position: absolute;
	width: 8rem;
	height: 8rem;
	left: -4.1rem;
	top: -4.1rem;
    /*background-color: hsla(243, 78%, 50%, 0.5);*/
    transform-origin: 101% 101%;
    overflow: hidden;
}
.cn-wrapper li a{
	position: absolute;
	text-decoration: none;
	/*background-color: rgba(255,255,0,.4);*/
	background: radial-gradient(transparent 30%, hsla(243, 78%, 50%, 0.5) 30%);
	font-size: 0.4rem;
	color:#fff;
	left: 50%;
	top: 50%;
	padding-top: 6%;
	width: 100%;
	height: 100%;
	transform: skew(-45deg) rotate(-67.5deg);
	text-align: center;
}
.cn-wrapper li a img{width: 12%;margin-top: 0.1rem;}
.cn-wrapper li:first-child{
	transform: rotate(0deg) skew(45deg);
}
.cn-wrapper li:nth-child(2){
	transform: rotate(45deg) skew(45deg);
}
.cn-wrapper li:nth-child(3){
	transform: rotate(90deg) skew(45deg);
}
.cn-wrapper li:nth-child(4){
	transform: rotate(135deg) skew(45deg);
}
.cn-wrapper li:nth-child(5){
	transform: rotate(180deg) skew(45deg);
}
.cn-wrapper li:nth-child(6){
	transform: rotate(225deg) skew(45deg);
}
.cn-wrapper li:nth-child(7){
	transform: rotate(270deg) skew(45deg);
}
.cn-wrapper li:nth-child(8){
	transform: rotate(315deg) skew(45deg);
}















.turn {
  -webkit-animation-name: turn;
  animation-name: turn;
  -webkit-transform-origin: center;
  transform-origin: center;
  /* animation-direction:alternate; 是否轮流播放*/
  /*-webkit-animation-direction:alternate; /*是否轮流播放*/
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotate3d(0,0,1,0deg);
    transform: rotate3d(0,0,1,0deg);
  }
  6.25% {
    -webkit-transform: rotate3d(0,0,1,0deg);
    transform: rotate3d(0,0,1,0deg);
  }
  12.5% {
    -webkit-transform: rotate3d(0,0,1,45deg);
    transform: rotate3d(0,0,1,45deg);
  }
  18.75% {
    -webkit-transform: rotate3d(0,0,1,45deg);
    transform: rotate3d(0,0,1,45deg);
  }
  25% {
    -webkit-transform: rotate3d(0,0,1,90deg);
    transform: rotate3d(0,0,1,90deg);
  }
  31.25% {
    -webkit-transform: rotate3d(0,0,1,90deg);
    transform: rotate3d(0,0,1,90deg);
  }
  37.5% {
    -webkit-transform: rotate3d(0,0,1,135deg);
    transform: rotate3d(0,0,1,135deg);
  }
  43.75% {
    -webkit-transform: rotate3d(0,0,1,135deg);
    transform: rotate3d(0,0,1,135deg);
  }
  50% {
    -webkit-transform: rotate3d(0,0,1,180deg);
    transform: rotate3d(0,0,1,180deg);
  }
  56.25% {
    -webkit-transform: rotate3d(0,0,1,180deg);
    transform: rotate3d(0,0,1,180deg);
  }
  62.5% {
    -webkit-transform: rotate3d(0,0,1,225deg);
    transform: rotate3d(0,0,1,225deg);
  }
  68.75% {
    -webkit-transform: rotate3d(0,0,1,225deg);
    transform: rotate3d(0,0,1,225deg);
  }
  75% {
    -webkit-transform: rotate3d(0,0,1,270deg);
    transform: rotate3d(0,0,1,270deg);
  }
  81.25% {
    -webkit-transform: rotate3d(0,0,1,270deg);
    transform: rotate3d(0,0,1,270deg);
  }
  87.5% {
    -webkit-transform: rotate3d(0,0,1,315deg);
    transform: rotate3d(0,0,1,315deg);
  }
  93.75% {
    -webkit-transform: rotate3d(0,0,1,315deg);
    transform: rotate3d(0,0,1,315deg);
  }
  100% {
    -webkit-transform: rotate3d(0,0,1,360deg);
    transform: rotate3d(0,0,1,360deg);
  }
}

@keyframes turn {
  0% {
    -webkit-transform: rotate3d(0,0,1,0deg);
    transform: rotate3d(0,0,1,0deg);
  }
  6.25% {
    -webkit-transform: rotate3d(0,0,1,0deg);
    transform: rotate3d(0,0,1,0deg);
  }
  12.5% {
    -webkit-transform: rotate3d(0,0,1,45deg);
    transform: rotate3d(0,0,1,45deg);
  }
  18.75% {
    -webkit-transform: rotate3d(0,0,1,45deg);
    transform: rotate3d(0,0,1,45deg);
  }
  25% {
    -webkit-transform: rotate3d(0,0,1,90deg);
    transform: rotate3d(0,0,1,90deg);
  }
  31.25% {
    -webkit-transform: rotate3d(0,0,1,90deg);
    transform: rotate3d(0,0,1,90deg);
  }
  37.5% {
    -webkit-transform: rotate3d(0,0,1,135deg);
    transform: rotate3d(0,0,1,135deg);
  }
  43.75% {
    -webkit-transform: rotate3d(0,0,1,135deg);
    transform: rotate3d(0,0,1,135deg);
  }
  50% {
    -webkit-transform: rotate3d(0,0,1,180deg);
    transform: rotate3d(0,0,1,180deg);
  }
  56.25% {
    -webkit-transform: rotate3d(0,0,1,180deg);
    transform: rotate3d(0,0,1,180deg);
  }
  62.5% {
    -webkit-transform: rotate3d(0,0,1,225deg);
    transform: rotate3d(0,0,1,225deg);
  }
  68.75% {
    -webkit-transform: rotate3d(0,0,1,225deg);
    transform: rotate3d(0,0,1,225deg);
  }
  75% {
    -webkit-transform: rotate3d(0,0,1,270deg);
    transform: rotate3d(0,0,1,270deg);
  }
  81.25% {
    -webkit-transform: rotate3d(0,0,1,270deg);
    transform: rotate3d(0,0,1,270deg);
  }
  87.5% {
    -webkit-transform: rotate3d(0,0,1,315deg);
    transform: rotate3d(0,0,1,315deg);
  }
  93.75% {
    -webkit-transform: rotate3d(0,0,1,315deg);
    transform: rotate3d(0,0,1,315deg);
  }
  100% {
    -webkit-transform: rotate3d(0,0,1,360deg);
    transform: rotate3d(0,0,1,360deg);
  }
}