.main{
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    position: relative;
}

.dial{
  width: 82%;
  background-color: #b91b18;
  position: absolute;
  left: 9.5%;
  top: 44.5%;
  border-radius: 5px;
}
.item{width: 33%;float: left;margin-right: 0.25%;}
.lst .item:first-child{margin-left: 0.25%}
/*.dial .lst:first-child .item{margin-top: 1.4%;}*/
/*.dial .lst .item{margin-bottom: 1.4%;}*/

.item01{background: url(../images/1.jpg) center no-repeat;background-size: contain;}
.item02{background: url(../images/2.jpg) center no-repeat;background-size: contain;}
.item03{background: url(../images/3.jpg) center no-repeat;background-size: contain;}
.item04{background: url(../images/4.jpg) center no-repeat;background-size: contain;}
.item05{background: url(../images/5.jpg) center no-repeat;background-size: contain;}
.item06{background: url(../images/6.jpg) center no-repeat;background-size: contain;}
.item07{background: url(../images/7.jpg) center no-repeat;background-size: contain;}
.item08{background: url(../images/8.jpg) center no-repeat;background-size: contain;}
.item09{background: url(../images/9.jpg) center no-repeat;background-size: contain;}

/*.item01.on{background: url(../images/1-1.jpg) center no-repeat;background-size: contain;}
.item02.on{background: url(../images/2-1.jpg) center no-repeat;background-size: contain;}
.item03.on{background: url(../images/3-1.png) center no-repeat;background-size: contain;}
.item04.on{background: url(../images/4-1.jpg) center no-repeat;background-size: contain;}
.item06.on{background: url(../images/6-1.jpg) center no-repeat;background-size: contain;}
.item07.on{background: url(../images/7-1.jpg) center no-repeat;background-size: contain;}
.item08.on{background: url(../images/8-1.jpg) center no-repeat;background-size: contain;}
.item09.on{background: url(../images/9-1.jpg) center no-repeat;background-size: contain;}*/

.item01.on{opacity: 0.7;}
.item02.on{opacity: 0.7;}
.item03.on{opacity: 0.7;}
.item04.on{opacity: 0.7;}
.item06.on{opacity: 0.7;}
.item07.on{opacity: 0.7;}
.item08.on{opacity: 0.7;}
.item09.on{opacity: 0.7;}
.tip{text-align: center;line-height: 40px;font-size: 12px;color: #fff;}


.dialogdetail{position: fixed;z-index: 901;top: 50%;left: 10%; width: 80%;margin: 0 auto;background: url(../images/detail.png) center no-repeat;background-size: cover;}
.btnknow{width: 80%;position: absolute;left: 10%;bottom: 5%;height: 10%; background: url(../images/zhidao.png) center no-repeat;background-size: cover;}

.btnshare{width: 80%;position: absolute;left: 10%;bottom: 5%;height: 20%;}

.dialogmemda{position: fixed;z-index: 901;top: 50%;left: 10%; width: 80%;margin: 0 auto;background: url(../images/memeda.png) center no-repeat;background-size: cover;}
.dialogthanks{position: fixed;z-index: 901;top: 50%;left: 10%; width: 80%;margin: 0 auto;background: url(../images/thanks.png) center no-repeat;background-size: cover;}
.dialogprize{position: absolute;width: 80%;padding: 0 5%; z-index: 901;left: 10%;top: 50%;background-color: #fff;border-radius: 5px;}
.close{position: absolute;right: 3%;top: 3%;width: 8px;height: 8px;background: url(../images/close.png) center no-repeat;background-size: contain;}
.title{margin-top: 6%;text-align: center;}
.title img{width: 120px;height: 30px;}
.prize{margin-top: 5%;padding-bottom: 5%;border-bottom: 1px solid #d4d4d4;text-align: center;height: 30%;}
.prize img{max-height: 100%;}
.dialogprize table{width: 100%;height: 40%;font-size: 12px;}
.dialogprize table td{vertical-align: middle;}
.dialogprize table tr td:first-child{ text-align: right;padding-right: 1em; }
.dialogprize table input{height: 50%; border: 1px solid #e5e4e4;border-radius: 5px;outline: none;padding: 0 1em}
.dialogprize table span{color: #e50071;}
.dialogprize table button{color: #fff;background-color: #58bc00;margin-right: 10px;border: none;border-radius: 2px;padding: 3px 8px;}
.btnshare01{
  width: 100%;
  background-color: #e90000;
  font-size: 15px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  border-radius: 35px;
}