/*
**********************
* made in 饭饭
* 2016-05-18
**********************
*/

/*标签基本样式*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  background-color: #f7f7f7;
}
img{max-width: 100%;}
i{font-style: normal;}
input,textarea{outline: none;}
a:active{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*主体样式*/

.main{
  max-width: 10rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
header{
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  padding: 0 0.3rem;
  background-color: #42bd41;
  color: #fff;
  font-size: 0.48rem;
  position: relative;
}
header a{color: #fff;}
header .left{
  position: absolute;
}

::-webkit-input-placeholder { /* WebKit browsers */ 
  color: #999;
  font-size:0.4rem;
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
  font-size:0.4rem;
} 

/*常用样式*/
.fl{float:left;}
.fr{float:right;}
.text-center{text-align: center;}


/*icon*/
/*单选按钮*/
.iconRadio{width:0.53rem;height: 0.53rem;display: inline-block; background: url(../images/icon_weixuanze@2x.png) center no-repeat;background-size: contain;}
.iconRadio.active{background: url(../images/icon_xuanze@2x.png) center no-repeat;background-size: contain;}
/*对勾*/
.iconRight{width:0.53rem;height: 0.37rem;display: inline-block; background: url(../images/right.png) center no-repeat;background-size: contain;}
/*收藏*/
.iconStar{width:0.64rem;height: 0.64rem;display: inline-block; background: url(../images/icon_shoucang@2x.png) center no-repeat;background-size: contain;}
.iconStar.active{ background: url(../images/icon_shoucang2@2x.png) center no-repeat;background-size: contain;}
/*分享*/
.iconShare{width:0.64rem;height: 0.64rem;display: inline-block; background: url(../images/icon_fenxiang@2x.png) center no-repeat;background-size: contain;}
/*报错*/
.iconError{width:0.64rem;height: 0.64rem;display: inline-block; background: url(../images/icon_baocuo@2x.png) center no-repeat;background-size: contain;}
/*滑块*/
.iconHuakuai{width: 1.49rem;height: 0.69rem;display: inline-block; background: url(../images/icon_huakuai@2x.png) center no-repeat;background-size: contain;}
.iconHuakuai.active{background: url(../images/icon_unhuakuai@2x.png) center no-repeat;background-size: contain;}
/*星星*/
.iconXing{width: 0.64rem; height: 0.64rem;display: inline-block; background: url(../images/icon_shoucang@2x.png) center no-repeat;background-size: contain; }
.iconXing.active{ background: url(../images/icon_shoucang2@2x.png) center no-repeat;background-size: contain;}
/*电话*/
.iconPhone{width: 0.64rem; height: 0.64rem;display: inline-block; background: url(../images/icon_dianhua@2x.png) center no-repeat;background-size: contain;}
/*dialog*/
.iconDialog{width: 0.64rem; height: 0.64rem;display: inline-block; background: url(../images/icon_dialog@2x.png) center no-repeat;background-size: contain;}
/*短信*/
.iconDuanxin{width: 1.6rem; height: 1.6rem;display: inline-block; background: url(../images/icon_duanxin@2x.png) center no-repeat;background-size: contain;}
/*聊天*/
.iconLiaotian{width: 1.6rem; height: 1.6rem;display: inline-block; background: url(../images/icon_liaotian@2x.png) center no-repeat;background-size: contain;}
/*友领圈*/
.iconYoulin{width: 1.6rem; height: 1.6rem;display: inline-block; background: url(../images/icon_youlinquan@2x.png) center no-repeat;background-size: contain;}
/*更多*/
.iconMore{width: 1.6rem; height: 1.6rem;display: inline-block; background: url(../images/icon_gengduo_dian@2x.png) center no-repeat;background-size: contain;}
/*更多2*/
.iconMore2{width: 0.85rem; height: 0.426rem;display: inline-block; background: url(../images/icon_gengduo@2x.png) center no-repeat;background-size: contain;}
/*进入*/
.iconIn{width: 0.18rem; height: 0.32rem;display: inline-block; background: url(../images/icon_jinru@2x.png) center no-repeat;background-size: contain;}
/*搜索*/
.iconSearch{width: 0.32rem; height: 0.32rem;display: inline-block; background: url(../images/icon_seach@2x.png) center no-repeat;background-size: contain;}
/*new*/
.iconNew{width: 0.74rem; height: 0.37rem;display: inline-block; background: url(../images/icon_new@2x.png) center no-repeat;background-size: contain;}

/*物业*/
.iconMoreWuye{width: 1.28rem;height: 1.38rem;display: inline-block; background: url(../images/icon_wuye1@2x.png) center no-repeat;background-size: contain;}
.iconMoreWuye.active{background: url(../images/icon_wuye@2x.png) center no-repeat;background-size: contain;}
/*居委会*/
.iconMoreJvwei{width: 1.28rem;height: 1.38rem;display: inline-block; background: url(../images/icon_juweihui1@2x.png) center no-repeat;background-size: contain;}
.iconMoreJvwei.active{background: url(../images/icon_juweihui@2x.png) center no-repeat;background-size: contain;}
/*快递*/
.iconMoreKuaidi{width: 1.28rem;height: 1.38rem;display: inline-block; background: url(../images/icon_kuaidi1@2x.png) center no-repeat;background-size: contain;}
.iconMoreKuaidi.active{background: url(../images/icon_kuaidi@2x.png) center no-repeat;background-size: contain;}
/*定水*/
.iconMoreDingshui{width: 1.28rem;height: 1.38rem;display: inline-block; background: url(../images/icon_dingshui1@2x.png) center no-repeat;background-size: contain;}
.iconMoreDingshui.active{background: url(../images/icon_dingshui@2x.png) center no-repeat;background-size: contain;}
/*废品回收*/
.iconMoreFeipin{width: 1.28rem;height: 1.38rem;display: inline-block; background: url(../images/icon_huishou1@2x.png) center no-repeat;background-size: contain;}
.iconMoreFeipin.active{background: url(../images/icon_huishou@2x.png) center no-repeat;background-size: contain;}
/*开锁换锁*/
.iconMoreKaisuo{width: 1.28rem;height: 1.38rem;display: inline-block; background: url(../images/icon_kaisuo1@2x.png) center no-repeat;background-size: contain;}
.iconMoreKaisuo.active{background: url(../images/icon_kaisuo@2x.png) center no-repeat;background-size: contain;}
/*管道疏通*/
.iconMoreGuandao{width: 1.28rem;height: 1.38rem;display: inline-block; background: url(../images/icon_guandao1@2x.png) center no-repeat;background-size: contain;}
.iconMoreGuandao.active{background: url(../images/icon_guandao@2x.png) center no-repeat;background-size: contain;}
/*家电维修*/
.iconMoreJiadian{width: 1.28rem;height: 1.38rem;display: inline-block; background: url(../images/icon_weixiu1@2x.png) center no-repeat;background-size: contain;}
.iconMoreJiadian.active{background: url(../images/icon_weixiu@2x.png) center no-repeat;background-size: contain;}
/*其他*/
.iconMoreOther{width: 1.28rem;height: 1.38rem;display: inline-block; background: url(../images/icon_qita1@2x.png) center no-repeat;background-size: contain;}
.iconMoreOther.active{background: url(../images/icon_qita@2x.png) center no-repeat;background-size: contain;}









/*搜索*/
.search{
  padding: 0.4rem 0.4rem 0;
  overflow: hidden;
  font-size: 0.37rem;
}
.search .input{
  background-color: #fff;
  height: 0.77rem;
  border-radius: 5px;
  position: relative;
  width: 85%;
}
.search .input i{position: absolute;top: .2rem;left: 0.1rem;}
.search .input input{
  padding-left: 2em;
  padding-right: 1em;
  width: 100%;
  border:none;
  height: 100%;
  outline: none;border-radius: 5px;
}
.search span{float: right;font-size: 0.4rem; width: 15%;text-align: center;height: 0.77rem;line-height: 0.77rem;}





/*三列等分*/
.row{width: 100%;}
.row:after{ content: "."; display: block;height: 0;visibility: hidden;font-size: 0; clear: both; }
.col3{width: 33.33%;float: left;}




/*遮罩*/
#shade{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.8);
  z-index: 900;
  display: none;
}

/*加载*/
.loading{ position:fixed; z-index:10000; width:100%; height:100%;left: 0;top: 0;background-color: #000; }
.spinner {
  width: 1.4rem;
  height: 1.4rem;
  /*background-color: #f3c48f;*/
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#fdf2d4), to(#dfb17f));
  position:absolute;
  left:50%; top:50%;
  margin-left:-0.7rem;
  margin-top:-0.7rem;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
  
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(2.2rem) }
  50% { -webkit-transform: perspective(2.2rem) rotateY(180deg) }
  100% { -webkit-transform: perspective(2.2rem) rotateY(180deg)  rotateX(180deg)  }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(2.2rem) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(2.2rem) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(2.2rem) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(2.2rem) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(2.2rem) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(2.2rem) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-webkit-keyframes rotate360 {
  0% { -webkit-transform: rotate3d(0,0,1,0) }
  50% { -webkit-transform: rotate3d(0,0,1,180deg) }
  100% { -webkit-transform: rotate3d(0,0,1,360deg) }
}

@keyframes rotate360 {
  0% { -webkit-transform: rotate3d(0,0,1,0) }
  50% { -webkit-transform: rotate3d(0,0,1,180deg) }
  100% { -webkit-transform: rotate3d(0,0,1,360deg) }
}