@include keyframes(pageDown){
  from{
    @include transform(translate3d(0,-100%,0));
    opacity: 0;
  }
  50%{
    @include transform(translate3d(0,0,0));
    opacity: 1;
  }
  to{
    @include transform(translate3d(0,200%,0));
    opacity: 0;
  }
}
.delay-1{
  animation-delay:300ms;
  -webkit-animation-delay:300ms; /* Safari 和 Chrome */
}
.delay-2{
  animation-delay:600ms;
  -webkit-animation-delay:600ms; /* Safari 和 Chrome */
}
.delay-3{
  animation-delay:1s;
  -webkit-animation-delay:1s; /* Safari 和 Chrome */
}