/*
* made in fanfan
*/

//变量
$primaryColor: #333;
$bgColor:#fff;
$baseFontSize:192;
// pixels to rems 
@function rem($px) {
  @return $px / $baseFontSize * 1rem;
}
// mixin
@mixin icon ($url,$width,$height) {
    background: url($url) center no-repeat;
    background-size: contain;
    width: $width*1px;
    height: $height*1px;
    display: inline-block;
    vertical-align: middle;
}
@mixin animation($animation...){
  -webkit-animation:$animation;
  animation:$animation;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}
@mixin keyframes ($name) {
    @keyframes #{$name}
    {
      @content;
    }
    @-webkit-keyframes #{$name} /* Safari 和 Chrome */
    {
      @content;
    }
}

@mixin transform($option...){
  transform:$option;
  -ms-transform:$option;   /* IE 9 */
  -moz-transform:$option;  /* Firefox */
  -webkit-transform:$option; /* Safari 和 Chrome */
  -o-transform:$option; 
}

@mixin transform-origin($option...){
  transform-origin:$option;
  -ms-transform-origin:$option;   /* IE 9 */
  -moz-transform-origin:$option;  /* Firefox */
  -webkit-transform-origin:$option; /* Safari 和 Chrome */
  -o-transform-origin:$option; 
}

@mixin transition($option...){
  transition:$option;
  -ms-transition:$option;   /* IE 9 */
  -moz-transition:$option;  /* Firefox */
  -webkit-transition:$option; /* Safari 和 Chrome */
  -o-transition:$option; 
}

body{
  background-color: $bgColor;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
img{max-width: 100%;}
i{font-style: normal;}
a {
  color: #0894ec;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
  color: #0a8ddf;
}
/*常用样式*/
.fl{float:left;}
.fr{float:right;}


.page{
  position: absolute;
  left: 0;
  top:0;
  width: 1920px;
  height: 100%;
  background: #fff;
}

.content-inner{
  width: 100%;
  height: 100%;
  // overflow: scroll;
  overflow: hidden;
  // font-size: 0;
  position: relative;
  -webkit-overflow-scrolling:touch;
  background: url(../images/bg.jpg) top center repeat-y;
  background-size: 100% 100%;
}
.scroll{
  -webkit-overflow-scrolling:touch;
}
.row{
  &:after{
    content:" ";
    display: block;
    clear: both;
  }
  .col-33{
    width: 33.33%;
    float: left;
  }
  .col-50{
    width: 50%;
    float: left;
  }
}
img.full{
  width: 100%;
}
/*
* 公共布局部分结束
**/
@keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
@-webkit-keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

.content{
  font-size: 0.4rem;
  text-align: left;
}
.rotate{
  width: 8rem;
  height: 8rem;
  color:#fff;
  font-size: 1rem;
  border-radius: 100%;
  overflow: hidden;
  background: linear-gradient(red,blue,green);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  .rotate-1{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    overflow: hidden;
    background: #fff;
    position: absolute;
    top:1rem;
    left:1rem;
  }
}

.logo{
  width: 1376px;
  height: 79px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
}

.nav{
  margin-left: 192px;
  margin-top: 55px;
  font-size: 24px;
  color:#fff;
  li{
    float: left;
    margin-right: 58px;
    background-color: #2e4c92;
    width: 164px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0 -2px #6c9dd8, 0 0 0 -1px #d2850f;
    -webkit-transition: -webkit-box-shadow .3s;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
    &:hover,&:active,&:focus,&.active{
      box-shadow: 0 0 0 5px #6c9dd8, 0 0 0 8px #d2850f;
      -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
      transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    }
    &:hover,&:active,&:focus{
      -webkit-animation: gelatine 0.5s 1;
      animation: gelatine 0.5s 1;
    }
  }
}
.rightNav{
  position: absolute;
  top:210px;
  right:136px;
  .btn-nav{
    width: 74px;
    height: 74px;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &.on{
      overflow: visible;
      background: transparent;
      .openSeach{display: none;}
      .seach{
        @include transform(translateX(0%));
      }
    }
  }
}
.main{

}

.seach{
  position: absolute;
  right:0;
  top:0;
  height: 64px;
  width: 538px;
  font-size: 30px;
  @include transform(translateX(100%));
  @include transition(all 300ms);
  input{
    color:#fff;
    width: 492px;
    height: 64px;
    background: rgba(0,0,0,0.46);
    outline:none;
    border:none;
    border-radius: 64px;
    padding-left: 1em;
  }
}
