/*
* made in fanfan
*/

//变量
$primaryColor: #333;
$bgColor:#fff;
$baseFontSize:192;
// pixels to rems 
@function rem($px) {
  @return $px / $baseFontSize * 1rem;
}
// mixin
@mixin icon ($url,$width,$height) {
    background: url($url) center no-repeat;
    background-size: contain;
    width: $width*1px;
    height: $height*1px;
    display: inline-block;
    vertical-align: middle;
}
@mixin animation($animation...){
  -webkit-animation:$animation;
  animation:$animation;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}
@mixin keyframes ($name) {
    @keyframes #{$name}
    {
      @content;
    }
    @-webkit-keyframes #{$name} /* Safari 和 Chrome */
    {
      @content;
    }
}

@mixin transform($option...){
  transform:$option;
  -ms-transform:$option;   /* IE 9 */
  -moz-transform:$option;  /* Firefox */
  -webkit-transform:$option; /* Safari 和 Chrome */
  -o-transform:$option; 
}

@mixin transform-origin($option...){
  transform-origin:$option;
  -ms-transform-origin:$option;   /* IE 9 */
  -moz-transform-origin:$option;  /* Firefox */
  -webkit-transform-origin:$option; /* Safari 和 Chrome */
  -o-transform-origin:$option; 
}

@mixin transition($option...){
  transition:$option;
  -ms-transition:$option;   /* IE 9 */
  -moz-transition:$option;  /* Firefox */
  -webkit-transition:$option; /* Safari 和 Chrome */
  -o-transition:$option; 
}

body{
  background-color: $bgColor;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
img{max-width: 100%;}
i{font-style: normal;}
a {
  color: #0894ec;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
  color: #0a8ddf;
}
/*常用样式*/
.fl{float:left;}
.fr{float:right;}


.page{
  position: absolute;
  left: 0;
  top:0;
  // width: 1920px;
  width: 100%;
  height: 100%;
  background: #fff;
}

.content-inner{
  width: 100%;
  height: 100%;
  // overflow: scroll;
  overflow: hidden;
  // font-size: 0;
  position: relative;
  -webkit-overflow-scrolling:touch;
  background: url(../images/bg.jpg) top center repeat-y;
  background-size: 100% 100%;
}
.scroll{
  -webkit-overflow-scrolling:touch;
}
.row{
  &:after{
    content:" ";
    display: block;
    clear: both;
  }
  .col-33{
    width: 33.33%;
    float: left;
  }
  .col-50{
    width: 50%;
    float: left;
  }
}
img.full{
  width: 100%;
}
/*
* 公共布局部分结束
**/
@keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
@-webkit-keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

.content{
  font-size: 0.4rem;
  text-align: left;
}
.rotate{
  width: 8rem;
  height: 8rem;
  color:#fff;
  font-size: 1rem;
  border-radius: 100%;
  overflow: hidden;
  background: linear-gradient(red,blue,green);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  .rotate-1{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    overflow: hidden;
    background: #fff;
    position: absolute;
    top:1rem;
    left:1rem;
  }
}

.logo{
  width: 1376px;
  height: 79px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
}

.nav{
  margin-left: 192px;
  margin-top: 55px;
  font-size: 24px;
  color:#fff;
  li{
    a{
          color: inherit;
    }
    float: left;
    margin-right: 58px;
    background-color: #2e4c92;
    width: 164px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0 -2px #6c9dd8, 0 0 0 -1px #d2850f;
    -webkit-transition: -webkit-box-shadow .3s;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
    &:hover,&:active,&:focus,&.active{
      box-shadow: 0 0 0 5px #6c9dd8, 0 0 0 8px #d2850f;
      -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
      transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    }
    &:hover,&:active,&:focus{
      -webkit-animation: gelatine 0.5s 1;
      animation: gelatine 0.5s 1;
    }
  }
}
.rightNav{
  position: absolute;
  top:210px;
  right:136px;
  .btn-nav{
    width: 74px;
    height: 74px;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &.on{
      overflow: visible;
      background: transparent;
      .openSeach{display: none;}
      .seach{
        @include transform(translateX(0%));
      }
    }
  }
}
.main{

}

.seach{
  position: absolute;
  right:0;
  top:0;
  height: 64px;
  width: 538px;
  font-size: 30px;
  @include transform(translateX(100%));
  @include transition(all 300ms);
  input{
    color:#fff;
    width: 492px;
    height: 64px;
    background: rgba(0,0,0,0.46);
    outline:none;
    border:none;
    border-radius: 64px;
    padding-left: 1em;
  }
}

.my-flipster-carousel{
  padding-top: 115px;
  padding-left: 192px;
  width: 1400px;
  img{
    width: 887px;
    height: 548px;
    border-radius: 25px;
  }
  .flipster{
    overflow: visible;
  }
}

.pic-main{
  width: 1400px;
  height: 800px;
  padding-left: 192px;
}
.select-main{
  // width: 1400px;
  height: 800px;
  padding-left: 192px;
  padding-top: 40px;
}
 .pic {
  margin:100px auto 0px;
  /*border:1px solid #ff0000;*/
  width:130*1.2*1px;
  height:190*1.2*1px;
  position:relative;
  transform-style:preserve-3d;
  transform:perspective(2000px) rotateX(-10deg) rotateY(0deg);
}
 div.pic img {
  cursor:pointer;
  position:absolute;
  width:100%;
  height:100%;
  border-radius:5px;
}
div.pic p{
  width:1400px;
  height:800px;
  
  position:absolute;
  left:50%;top:100%;
  margin-top:-400px;
  margin-left:-700px;
  transform:rotateX(90deg);
  border-radius:700px;
}


.f-select{
  width: 524px;
  height: 656px;
  background: #fff;
  border-radius: 20px;
  border:1px solid #475d81;
  position: relative;
  .select-pr{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, #fff 40%, #fff 60%, transparent 95%, transparent);
  }
  .select-inner{
    position: absolute;
    top:50%;
    left:0;
    width:100%;
    height: 64px;
    line-height: 64px;
    
    text-align: center;
    font-size: 32px;
    color:#4c4b4c;
    margin-top: -32px;

    ul{
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
      transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
    }

    li{
      position: absolute;
      &.on{
        border-top: 1px solid #475d81;
        border-bottom: 1px solid #475d81;
      }
      left:0;
      top:0;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      font-size: 20px;
      padding: 0 66px;
    }
  }
}

.iconshuaxin{
  @include icon('../images/shuaxin.png',48,656);
  margin-left: 36px;
  margin-right: 36px;
}
.iconzhe{@include icon('../images/zhe.png',34,33);}
.iconbin{@include icon('../images/bin.png',27,27);}
.iconprev{@include icon('../images/prev.png',15,29);}
.iconnext{@include icon('../images/next.png',15,29);}

.news-cnt{
  width: 902px;
  height: 658px;
  background: #fff;
  border-radius: 20px;
  border:1px solid #475d81;
  padding-left: 88px;
  padding-right: 88px;
  padding-bottom: 40px;

  .title{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 8px;
    border-bottom:1px dashed #d2d2d2;
    span{
      margin-left: 26px;
    }
  }
}
.news-list{
  overflow: scroll;
  -webkit-overflow-scrolling:touch;
  line-height: 2em;
  height: 518px;
  h2{
    font-size: 14px;
    color:#323333;
    .flag{
      color:#717171;
      font-size: 12px;
      border:1px solid #717171;
      border-radius: 4px;
      margin-right: 5px;
    }
  }
  p{
    color:#666666;
    font-size: 12px;
    line-height: 1.8em;
    b{
      color:#fd0000;
    }
  }
  li{
    border-bottom:1px dashed #d2d2d2;
    padding-bottom: 10px;
  }
}

.news-bottom{
  text-align: right;
  padding-top: 6px;
}
.chart-main{
  padding-left: 208px;
  padding-top: 80px;
  .left{
    float: left;
    width: 250px;
    margin-right: -250px;
    a{
      margin-top: 80px;
      display: inline-block;
      &.on{
        position: relative;
        &:after{
          content:" ";
          position: absolute;
          width: 164px;
          height: 76px;
          border:3px solid #69458f;
          border-radius: 5px;
          top:50%;
          left:50%;
          transform: translate3d(-50%,-50%,0);
          -webkit-transform: translate3d(-50%,-50%,0);
        }
      }
    }
  }
  .content{
    width: 100%;
    margin-left: 250px;
  }
  .bottom{
    width: 1463px;
    text-align: right;
  }
}
.f-dial{
  width: 570px;
  margin-right: 50px;
}
.cc{
  width: 552px;
  height: 552px;
  position: relative;
}
.cc-1{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  // background: url(../images/c1.png) center no-repeat;
  background-size: contain;
  border-radius: 50%;
}
.cc-2{
  position: absolute;
  left: 0;
  top:0;
  width: 350px;
  height: 350px;
  top:50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -175px;
  // background: url(../images/c2.png) center no-repeat;
  background-size: contain;
  border-radius: 50%;
}
.cc-3{
  position: absolute;
  width: 140px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  -webkit-transform: translate3d(-50%,-50%,0);
  font-size: 24px;
  color:#050000;
}