html{height:100%}
body{height:100%;margin:0px;padding:0px;font-size:14px;}
.hf-border-right{border-right:1px solid #c0c0c0;}
.hf-text-center{text-align:center;}
#findMapBox{width:100%;}
/*地图区域显示层*/
.hf-area-layer{width:100px;height:60px;border-radius:10px;display:inline-block;text-align:center;font-size:16px;}
.hf-area-title{width:100%;height:30px;background:#fff;color:#000;line-height:30px;border-top-left-radius:10px;border-top-right-radius:10px;}
.hf-area-content{width:100%;height:30px;background:#7dd232;color:#fff;line-height:30px;border-bottom-left-radius:10px;border-bottom-right-radius: 10px;}

/*楼盘显示层  绿色*/
.hf-tag-blue{ width:150px; height:25px; position:relative; background-color:#7dd232;color:#fff;font-size:12px;line-height:25px;text-align: center;border-radius:5px;}
.hf-arrow-blue{ position:absolute; width:10px; height:10px; bottom:-10px; left:70px; }
.hf-arrow-blue *{ display:block; border-width:5px; position:absolute; border-style:solid dashed dashed dashed; font-size:0; line-height:0; }
.hf-arrow-blue em{border-color:#7dd232 transparent transparent;}
.hf-arrow-blue span{border-color:#7dd232 transparent transparent; top:-7px;}

/*楼盘显示层  灰色*/
.hf-tag-grey{ width:150px; height:25px; position:relative; background-color:#666;color:#fff;font-size:12px;line-height:25px;text-align: center;border-radius:5px;}
.hf-arrow-grey{ position:absolute; width:10px; height:10px; bottom:-10px; left:70px; }
.hf-arrow-grey *{ display:block; border-width:5px; position:absolute; border-style:solid dashed dashed dashed; font-size:0; line-height:0; }
.hf-arrow-grey em{border-color:#666 transparent transparent;}
.hf-arrow-grey span{border-color:#666 transparent transparent; top:-7px;}

/*导航*/
.hf-map-nav{width:100%;height:40px;background:#fff;position:absolute;bottom:10px;z-index:99999;font-size:13px;}
.hf-map-nav-blue{background:#7dd232;color:#fff;text-align:center;}
.hf-map-nav-grey{color:#666;text-align:center;}

/*楼盘列表*/
.hf-map-list-title{font-size:14px;height:40px;line-height:40px;border-bottom:1px solid #c0c0c0;}

.hf-pop-house{/*position: fixed;*/width: 100%;bottom: 0;left: 0;}
.hf-pop-house h2{background: #eee;line-height: 44px;border-bottom: #ddd 1px solid;}

