.iconSeach{
  @include icon('../images/seach.png',38,38);
}
.i001{@include icon('../images/i001.png',180,180)}
.i002{@include icon('../images/i002.png',180,180)}
.i003{@include icon('../images/i003.png',180,180)}
.i004{@include icon('../images/i004.png',180,180)}
.i005{@include icon('../images/i005.png',180,180)}
.i006{@include icon('../images/i006.png',180,180)}

.u001{@include icon('../images/u001.png',52,40)}
.u002{@include icon('../images/u002.png',52,40)}
.u003{@include icon('../images/u003.png',52,40)}

.active .u001{@include icon('../images/u001_1.png',52,40)}
.active .u002{@include icon('../images/u002_1.png',52,40)}
.active .u003{@include icon('../images/u003_1.png',52,40)}

.icon-back{@include icon('../images/back.png',23,44)}
.icon-shop{@include icon('../images/shop.png',41,45)}
.icon-plus{@include icon('../images/plus.png',48,48)}
.icon-back-new{@include icon('../images/back-new.png',88,88)}
.icon-shop-new{@include icon('../images/shop-new.png',88,88)}

.icon-right{@include icon('../images/right.png',32,32)}
.icon-link{@include icon('../images/link.png',18,33)}
.link{
  position: relative;
  &:after{
    content:" ";
    position: absolute;
    right:rem(32);
    top:50%;
    @include icon('../images/link.png',18,33);
    @include transform(translate3d(0,-50%,0));
  }
}