*{
  -ms-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}
.home-swiper-container{
  .swiper-pagination-bullet{
    background: #ececec;
    opacity:1;
  }
  .swiper-pagination-bullet-active{
    background: #eb526e;
  }
}