/*
* made in fanfan
*/

//变量
$primaryColor: #ccc;
$bgColor:#fff;
$baseFontSize:133;
// pixels to rems 
@function rem($px) {
  @return $px / $baseFontSize * 1rem;
}
// mixin
@mixin icon ($url,$width,$height) {
    background: url($url) center no-repeat;
    background-size: contain;
    width: rem($width);
    height: rem($height);
    display: inline-block;
}
@mixin center($width){
  left: 50%;
  margin-left: rem($width*-1/2);
}
@mixin box($width,$height){
  width: rem($width);
  height: rem($height);
}

@mixin top($top){top:$top/2100*100%;}
@mixin left($left){left:$left/1333*100%;}
@mixin right($right){right:$right/1333*100%;}
@mixin bottom($bottom){bottom:$bottom/2100*100%;}

body{
	background-color: $bgColor;
}
section{
  overflow: hidden;
}
.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  z-index: 100000;
  background: #000;
}
.page-1{
  background: url(../images/bg1.jpg)  center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.page-2{
  background: url(../images/bg2.jpg)  center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: none;
}
.page-3{
  background: url(../images/bg3.jpg)  center no-repeat;
  background-size: 100% 100%;
}
.page-4{
  background: url(../images/bg4.jpg)  center no-repeat;
  background-size: 100% 100%;
}
.page-5{
  background: url(../images/bg5.jpg)  center no-repeat;
  background-size: 100% 100%;
}
.page-6{
  background: url(../images/bg6.jpg)  center no-repeat;
  background-size: 100% 100%;
}
.page-7{
  background: url(../images/bg7.jpg)  center no-repeat;
  background-size: 100% 100%;
}

img{
  display: block;
  position: absolute;
}
.page img{
  display: none;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.title{
  @include center(835);
  @include box(835,239);
  @include top(129);
}
.loadgin{
  @include center(125);
  @include box(125,662);
  @include top(478);
}
.dianji{
  @include center(421);
  @include box(421,123);
  @include top(1200);
}
.bottom{
  width: 100%;
  height: rem(114);
  @include bottom(58);
}
.title-2{
  @include center(955);
  @include box(955,131);
  @include top(129);
}
.video{
  width: 100%;
  height: 8rem;
  position: absolute;
  top:50%;
  margin-top: -6rem;
}
.weclome{
  @include center(421);
  @include box(421,123);
  @include bottom(460);
}

.a100{
  @include center(736);
  @include box(736,403);
  @include top(378);
}
.a101{
  @include center(516);
  @include box(516,226);
  @include top(834);
}
.a102{
  @include center(695);
  @include box(695,311);
  @include top(1138);
}

.a200{
  @include center(737);
  @include box(737,408);
  @include top(378);
}
.a201{
  @include center(563);
  @include box(563,111);
  @include top(831);
}
.a202{
  @include center(695);
  @include box(695,469);
  @include top(990);
}

.a300{
  @include center(507);
  @include box(507,159);
  @include top(468);
}
.a301{
  @include center(694);
  @include box(694,80);
  @include top(675);
}
.a302{
  @include center(770);
  @include box(770,58);
  @include top(825);
}
.a400{
  @include center(741);
  @include box(741,215);
  @include top(498);
}
.a401{
  @include center(575);
  @include box(575,123);
  @include bottom(560);
}
.a500{
  @include center(931);
  @include box(931,174);
  @include top(444);
}
.a501{
  @include center(1033);
  @include box(1033,177);
  @include top(708);
}
.a502{
  @include box(936,907);
  @include bottom(140);
  @include left(272);
}