/*
* made in fanfan
*/

//变量
$primaryColor: #fff;
$bgColor:#f10060;
$baseFontSize:75;
// pixels to rems 
@function rem($px) {
  @return $px / $baseFontSize * 1rem;
}
// mixin
@mixin icon ($url,$width,$height) {
    background: url($url) center no-repeat;
    background-size: contain;
    width: rem($width);
    height: rem($height);
    display: inline-block;
}

body{
	background-color: $bgColor;
}
.page-1{
  background: url(../images/bg1.jpg)  center no-repeat;
  background-size: 100% 100%;
}
.page-2{
  background: url(../images/bg2.jpg)  center no-repeat;
  background-size: 100% 100%;
}
.page-3{
  background: url(../images/bg3.jpg)  center no-repeat;
  background-size: 100% 100%;
}
.page-4{
  background: url(../images/bg4.jpg)  center no-repeat;
  background-size: 100% 100%;
}
.page-5{
  background: url(../images/bg5.jpg)  center no-repeat;
  background-size: 100% 100%;
}
.page-6{
  background: url(../images/bg6.jpg)  center no-repeat;
  background-size: 100% 100%;
}
.page-7{
  background: url(../images/bg7.jpg)  center no-repeat;
  background-size: 100% 100%;
}