body{background-color: #ffcc00;position: relative;}
body.home{
	background: #ffcc00 url(../images/home.png) top center no-repeat;
	background-size: contain;
	width: 100%;
	overflow: hidden;
}
.day{
	width: 4.48rem;
	height: 0.53rem;
	background: url(../images/day.png) center no-repeat;
	background-size: contain;
	position: absolute;
	top: 43%;
	left: 2%;
}
.day span{
	position: absolute;
	height: 0.53rem;
	line-height: 0.53rem;
	font-size: 0.76rem;
	color: #000;
	left: 3.4rem;
}
.game{
	position: absolute;
	top: 47%;
	width: 100%;
}
.game .lst{
	position: absolute;
	width: 2rem;
	height: 2.28rem;
	line-height: 2.28rem;
	text-align: center;
	font-size: 0.48rem;
	color: #000;
	background: url(../images/polygon@2x.png) center no-repeat;
	background-size: contain;
}
.game .lst.active{font-size: 0; background: url(../images/smile@2x.png) center no-repeat;background-size: contain;}
.game .lst:nth-of-type(1){left:0.85rem;top: 0; }
.game .lst:nth-of-type(2){left:2.95rem;top: 0; }
.game .lst:nth-of-type(3){left:5.05rem;top: 0; }
.game .lst:nth-of-type(4){left:7.15rem;top: 0; }
.game .lst:nth-of-type(5){left:1.85rem;top: 1.88rem; }
.game .lst:nth-of-type(6){left:3.95rem;top: 1.88rem; }
.game .lst:nth-of-type(7){left:6.05rem;top: 1.88rem; }

.btnprize{
	width: 5.46rem;
	height: 1.57rem;
	position: absolute;
	bottom: 11%;
	left: 50%;
	margin-left: -2.73rem;
}
.btnprize1{
	background: url(../images/prize2@2x.png) center no-repeat;
	background-size: contain;
}
.btnprize2{
	background: url(../images/prize3@2x.png) center no-repeat;
	background-size: contain;
}
.btnprize3{
	background: url(../images/prize1@2x.png) center no-repeat;
	background-size: contain;
}
.userBtn{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 6%;
	text-align: center;
	font-size: 0.48rem;
	color: #000;
    letter-spacing: 2px;
}
@media screen and (max-height: 420px){
	.btnprize{
		bottom: 8%;
	}
	.userBtn{
		bottom: 3%;
	}
	body.home{
		background: #ffcc00 url(../images/bg.jpg) top center no-repeat;
		background-size: contain;
	}
}

.userinfo{
	position: fixed;
	z-index: 910;
	width: 8.6rem;
	height: 11rem;
	left: 50%;
	top: 50%;
	margin-left: -4.3rem;
	margin-top: -5.5rem;
	background: url(../images/userinfo@2x.png) center no-repeat;
	background-size: contain;
	display: none;
}
.userinfo .close{
	position: absolute;
	right: -0.35rem;
	top: 0;
	width: 0.9rem;
	height: 0.9rem;
	background: url(../images/close@2x.png) center no-repeat;
	background-size: contain;
}
.userinfo input{
	position: absolute;
	width: 6.3rem;
	height: 1.44rem;
	text-align: center;
	border-radius: 0.72rem;
	color: #663204;
	font-size: 0.53rem;
	border:2px solid #cdbaad;
	background: transparent;
	outline: none;
}
input::-webkit-input-placeholder{
	color: #7c7c7c;
}
.userinfo .username{top: 35%;left: 1rem;}
.userinfo .userTel{top: 55%;left: 1rem;}
.userinfo button{
	position: absolute;
	bottom: 3%;
	height: 1.28rem;
	width: 4.36rem;
	left: 50%;
	margin-left: -2.18rem;
	border:none;
	outline: none;
	color: #663204;
	font-size: 0.6rem;
	background-color: #ffc82f;
	border-radius: 0.64rem;
}

.tip{
	position: fixed;
	z-index: 910;
	width: 7.58rem;
	height: 8.74rem;
	left: 50%;
	top: 50%;
	margin-left: -3.79rem;
	margin-top: -4.37rem;
	background: url(../images/tip@2x.png) center no-repeat;
	background-size: contain;
	display: none;	
}
.tip .close{
	position: absolute;
	right: 3%;
	top: 3%;
	width: 0.36rem;
	height: 0.36rem;
	background: url(../images/close2@2x.png) center no-repeat;
	background-size: contain;
}
.tip{color: #000000;font-size: 0.45rem;line-height: 1.5em;text-align: center;padding-top: 40%;}
.tip i,.tip a{color: #fe0202;}
.tip a{font-size: 0.48rem;}

body.guize{
	background:#ffcc00 url(../images/guizetop@2x.png) top center no-repeat;
	background-size: contain;	
	padding: 65% 10% 5% 5%;
}
.back{
	position: absolute;
	z-index: 800;
	width: 2.22rem;
	height: 1.52rem;
	background: url(../images/back@2x.png) center no-repeat;
	background-size: contain;
	right: 1%;
	top: 0.2rem;
}
.guize{
	color: #000;
	font-size: 0.427rem;
	line-height: 1.8em;
}
.guize .title{margin-top: 0.8rem;}
.guize p{padding-left: 1em;}
.guize p.img{text-align: center;}
.guize p.img{width: 50%;margin: 0 auto;}
.guize .red{color: #fe0202;}

.cloud{
	width: 1.06rem;
	height: 0.58rem;
	background: url(../images/yun.png) center no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	opacity: 0;

}
.cloud1{top: 2%;-webkit-animation:cloud 10s linear infinite both;animation:cloud 10s linear infinite both;}
.cloud2{top: 10%;width: 1.484rem;height:0.81rem;-webkit-animation:cloud 10s linear infinite both 4s;animation:cloud 10s linear infinite both 4s;}
.cloud3{top: 15%;;width: 1.272;height:0.972rem;-webkit-animation:cloud 10s linear infinite both 8s;animation:cloud 10s linear infinite both 8s;}

.rocket{
	width: 1rem;
	height: 1.34rem;
	background: url(../images/huojian2x.png) center no-repeat;
	background-size: contain;
	position: absolute;
	top: 5%;
	right: 23%;
	z-index: 50;
	-webkit-animation:rocket 2s linear infinite both;animation:rocket 2s linear infinite both;
}


@-webkit-keyframes cloud {
  from {
  	opacity: 1;
  	-webkit-transform: translate3d(-2rem,0,0);
    transform: translate3d(-2rem,0,0);
  }
  50%{
	opacity: 0.7
  }
  to {
  	opacity: 1;
    -webkit-transform: translate3d(12rem,0,0);
    transform: translate3d(12rem,0,0);
  }
}

@keyframes cloud {
  from {
  	opacity: 1;
  	-webkit-transform: translate3d(-2rem,0,0);
    transform: translate3d(-2rem,0,0);
  }
  50%{
	opacity: 0.7
  }
  to {
  	opacity: 1;
    -webkit-transform: translate3d(12rem,0,0);
    transform: translate3d(12rem,0,0);
  }
}

@-webkit-keyframes rocket {
  from {
  	-webkit-transform: translate3d(0.2rem,1.5rem,0) scale(0.6);
    transform: translate3d(0.2rem,1.5rem,0) scale(0.6);
    opacity: 0;
  }
  10%{opacity: 1;}
  to {
  	-webkit-transform: translate3d(-1rem,-2rem,0);
  	transform: translate3d(-1rem,-2rem,0);
  }
}

@keyframes rocket {
  from {
  	-webkit-transform: translate3d(0.2rem,1.5rem,0) scale(0.6);
    transform: translate3d(0.2rem,1.5rem,0) scale(0.6);
    opacity: 0;
  }
  10%{opacity: 1;}
  to {
  	-webkit-transform: translate3d(-1rem,-2rem,0);
  	transform: translate3d(-1rem,-2rem,0);
  }
}